{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="container">
    <h1>Мезек рън <a class="btn btn-primary" href="{{ path('app_login') }}">Вход</a></h1>
    {% if report and report.checkpoints %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    {% for ch in report.checkpoints %}
                        <th>{{ ch }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for timing in report.players %}
                    <tr>
                        <td>{{ timing|first.player }}</td>
                        {% for ch in report.checkpoints %}
                            <td>
                                {% for t in timing %}
                                {{ t.checkpoint == ch ? t.passed : '' }}
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}
