{% extends 'base.html.twig' %}

{% block title %}Нов маршрут{% endblock %}

{% block body %}
    {% include 'partial/menu.html.twig' %}
    <div class="container">
        <h1>Нова точка за {{ route.name }}</h1>
        {{ form(form) }}
    </div>
{% endblock %}