{% extends 'base.html.twig' %}

{% block title %}Маршрути{% endblock %}

{% block body %}
    {% include 'partial/menu.html.twig' %}
<div class="container">
    <hr>
    <div class="row">
        <div class="col">
            <h1>Маршрути</h1>
        </div>
        <div class="col">
            <a href="{{ path('app_route_create') }}" class="btn btn-success"><i class="fa fa-plus"></i></a>
        </div>
    </div>
    <hr>
    <ul class="list-group">
        {% for route in routes %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        {{ route.name }}
                        <ul class="list-group">
                            {% for ru in route.routeUsers %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{ ru.user.username }}
                                    <small class="badge badge-pill bg-primary badge-number">{{ ru.number }}</small>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-4">
                        <a href="{{ path('app_route_delete', {'id': route.id}) }}" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
{#                        <a href="{{ path('app_route_user_create', {'id': route.id}) }}" class="btn btn-info">#}
{#                            <i class="fa fa-pencil"></i>#}
{#                        </a>#}
                        <a href="{{ path('app_route_user_create', {'id': route.id}) }}" class="btn btn-info">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
