body {
    background-color: lightgray;
}
.login-card{
    position: fixed;
    width: 400px;
    margin-top: 1em;
    padding: 1em;
    left: 50%;
    transform: translate(-50%,0);
}
nav.navbar{
    padding: 1em;
}
nav.navbar ul{
    margin-top: 1em;
}
small.badge-number{
    font-size: 11px;
}
.route-start-players{
    display: inline;
    width: auto;
}