{% extends 'base.html.twig' %}

{% block title %}Табло{% endblock %}

{% block body %}
{% include 'partial/menu.html.twig' %}
<div class="container">
    <h1 class="d-flex justify-content-between align-items-center">
        {{ active.name }} ({{ active.numberOfPlayers }})
        <a href="{{ path('app_deactivate_route', {'id': active.id}) }}" class="btn btn-danger">
            <i class="fa fa-stop"></i>
        </a>
    </h1>
    <ul class="list-group js-post-statistics" data-endpoint="{{ path('app_dashboard_statistics') }}">
        {% for ru in active.routeUsers %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col d-flex justify-content-between align-items-center">
                        {{ ru.user.username }}
                        <div>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#stats{{ ru.user.id }}">
                                <i class="fa fa-chart-line"></i>
                            </button>
                            <span class="badge badge-primary bg-primary" data-id="{{ ru.user.id }}">-</span>
                            <div class="modal fade" id="stats{{ ru.user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Стратистика за {{ ru.user.username }}</h5>
                                        </div>
                                        <div class="modal-body">
                                            <ul class="list-group">
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Затвори</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col"></div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
