{% extends 'base.html.twig' %}

{% block title %}Табло{% endblock %}

{% block body %}
{% include 'partial/menu.html.twig' %}
<div class="container">
    <ul class="list-group">
        {% for data in routes %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ data.route.name }}
            {{ form_start(data.form) }}
            {{ form_widget(data.form.numberOfPlayers, { 'attr': {'class': 'route-start-players'} }) }}
            <button type="submit" class="btn btn-info">
                <i class="fa fa-play"></i>
            </button>
            {{ form_end(data.form) }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
