{% extends 'base.html.twig' %}

{% block title %}Табло{% endblock %}

{% block body %}
    {% include 'partial/menu.html.twig' %}
    <div class="container">
        {% if active %}
            <h1>
                {{ active.name }}
                {{ active.numberOfPlayers }}
            </h1>
            {{ form(form) }}
            <h2>Очаквани</h2>
            <div class="row">
                <div class="col">
                    {% for number in expected %}
                        <span class="badge badge-info bg-dark">{{ number }}</span>
                    {% endfor %}
                </div>
            </div>
            <h2>Преминали</h2>
            <ul class="list-group">
                {% for checkpoint in passed %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ checkpoint.player }}
                        <a href="{{ path('app_delete_checkpoint', {'id': checkpoint.id}) }}" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h1>Няма стартирани маршрути.</h1>
        {% endif %}
    </div>
{% endblock %}
