<div class="pos-f-t">
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <span class="badge badge-success bg-success">{{ app.user.username }}</span>
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_dashboard') }}">Табло</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_user_list') }}">Потребители</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_route_list') }}">Маршрути</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_reporting') }}">Отчети</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Изход</a>
                </li>
            </ul>
        </div>
    </nav>
</div>