{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    {% include 'partial/menu.html.twig' %}
    <div class="container">
        <h1>Създаване на потребител</h1>
        {{ form(form) }}
    </div>
{% endblock %}