{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    {% include 'partial/menu.html.twig' %}
    <div class="container">
        <hr>
        <div class="row">
            <div class="col">
                <h1>Потребители</h1>
            </div>
            <div class="col">
                <a href="{{ path('app_user_create') }}" class="btn btn-success"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <hr>
        <ul class="list-group">
        {% for user in users %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        {{ user.username }}
                    </div>
                    <div class="col-2">
                        <a href="{{ path('app_user_delete', {'id': user.id}) }}" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
